*{
    box-sizing: border-box;
}
body{
    background-size: cover;
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    background: linear-gradient(135deg, #06e554, #135125);

}
h2{
    color: rgb(29, 28, 38);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
.select{
    font-family: Arial;
    color: rgb(150, 45, 45);
    font-size: 14px;
    background-color: #424441;
}
h2{
    margin: 0;
    color: rgb(244, 240, 240);
    text-align: center;
}

.container{ 
    width: 650px;
    height: 650px;  
    padding: 45px;
    border-radius: 5px;
    background-color: #424441;
  
  
}

.form-group{
    display: flex;
    
    
}
.form-wrapper input{
    width: 100%;
    background-color: #424441;
    border: none;
    border-bottom: 2px solid rgb(11, 11, 11);

}
.form-group input{
    width: 40%;
    background-color: #424441;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(11, 11, 11);

}
input[type=text]:focus {
    background-color: #424441;
}
.form-container{
    position: relative;
}
.form-control{
   
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #424441;
    box-sizing: border-box;
    
  
    
}
